/* Write you   <style>
         #mainHeading {
            color: red;
            text-align: center;
            font-size: xx-large;
         }

         #testP {
            color: green;
            text-align: center;
            background-color: black;
         }

         p {
            background-color: black;
            text-align: center;
            color: violet;
         }
         body {
            background-color: black;
         }

         figcaption {
            color: blue;
            text-align: center;
            text-decoration: dotted;
         }
      </style>r CSS here! */
